/*
* Functions & Helpers
*/

// Merge utility resets based on the compatibility level
@function merge-compatible-resets($utilities, $resets, $threshold) {
  $current-level: map-get($bootilities-configuration, "compatibility-level");
  @return if($current-level <=$threshold, map-merge($resets, $utilities), $utilities);
}

// Remove equivalent utilities from the API map
@function remove-equivalent-utilities($utilities, $lookup) {
  @each $bootilities-key, $bootstrap-key in $lookup {
    $has-duplicate: map-has-key($utilities, $bootilities-key) and map-has-key($utilities, $bootstrap-key);
    $utilities: if($has-duplicate, map-merge($utilities, ($bootstrap-key: null)), $utilities);
  }

  @return $utilities;
}

// Merge the given color map when using extended colors
@function merge-extended-colors($colors, $extended-colors) {
  $use-extended-colors: map-get($bootilities-configuration, "extended-color-palette");
  @return if($use-extended-colors, map-merge($colors, $extended-colors), $colors);
}
