$utilities: map-merge($utilities,
  (
    "cursor": (
      responsive: false,
      property: cursor,
      class: cursor,
      values: (auto, default, pointer, wait, text, move, help, not-allowed)
    )
  )
);