@import "colors/amber";
@import "colors/blue-gray";
@import "colors/blue";
@import "colors/cool-gray";
@import "colors/cyan";
@import "colors/emerald";
@import "colors/fuchsia";
@import "colors/gray";
@import "colors/green";
@import "colors/indigo";
@import "colors/lime";
@import "colors/light-blue";
@import "colors/orange";
@import "colors/pink";
@import "colors/purple";
@import "colors/red";
@import "colors/rose";
@import "colors/teal";
@import "colors/true-gray";
@import "colors/violet";
@import "colors/warm-gray";
@import "colors/yellow";

$white: #fff !default;
$black: #000 !default;
$blue: $blue-500 !default;
$indigo: $indigo-500 !default;
$purple: $purple-500 !default;
$pink: $pink-500 !default;
$red: $red-500 !default;
$orange: $orange-500 !default;
$yellow: $yellow-500 !default;
$green: $green-500 !default;
$teal: $teal-500 !default;
$cyan: $cyan-500 !default;

$colors: () !default;

$colors: map-merge(("transparent": transparent), $colors);
$colors: map-merge(("white": $white), $colors);
$colors: map-merge(("black": $black), $colors);

$colors: map-merge($colors, $grays);
$colors: map-merge($colors, $blues);
$colors: map-merge($colors, $indigos);
$colors: map-merge($colors, $purples);
$colors: map-merge($colors, $pinks);
$colors: map-merge($colors, $reds);
$colors: map-merge($colors, $oranges);
$colors: map-merge($colors, $yellows);
$colors: map-merge($colors, $greens);
$colors: map-merge($colors, $teals);
$colors: map-merge($colors, $cyans);

@if map-get($bootilities-configuration, "extended-color-palette") {
  $colors: map-merge($colors, $ambers);
  $colors: map-merge($colors, $blue-grays);
  $colors: map-merge($colors, $cool-grays);
  $colors: map-merge($colors, $emeralds);
  $colors: map-merge($colors, $fuschsias);
  $colors: map-merge($colors, $light-blues);
  $colors: map-merge($colors, $limes);
  $colors: map-merge($colors, $roses);
  $colors: map-merge($colors, $true-grays);
  $colors: map-merge($colors, $violets);
  $colors: map-merge($colors, $warm-grays);
}