// Removes Bootstrap default utilities

$utilities: () !default;

@if map-get($bootilities-configuration, "compatibility-level") <= 3 {
  $utilities: $utilities;
}

@if map-get($bootilities-configuration, "compatibility-level") <= 2 {
  $utilities: map-merge(
      (
        "rounded": null,
        "rounded-top": null,
        "rounded-end": null,
        "rounded-bottom": null,
        "rounded-start": null,
        "visibility": null,
        "translate-middle": null,
        "shadow": null,
        "gradient": null,
        "user-select": null,
        "pointer-events": null,
        "color": null,
        "background-color": null
      ),
      $utilities
    );
}

@if map-get($bootilities-configuration, "compatibility-level") <= 1 {
  $utilities: map-merge(
      (
        "width": null,
        "max-width": null,
        "viewport-width": null,
        "min-viewport-width": null,
        "height": null,
        "max-height": null,
        "viewport-height": null,
        "min-viewport-height": null,
        "gap": null,
        "order": null,
        "font-family": null,
        "font-size": null,
        "font-style": null,
        "font-weight": null,
        "line-height": null,
        "text-align": null,
        "text-decoration": null,
        "text-transform": null,
        "white-space": null,
        "word-wrap": null,
        "border": null,
        "border-top": null,
        "border-end": null,
        "border-bottom": null,
        "border-start": null,
        "border-color": null,
        "border-width": null,
      ),
      $utilities
    );
}

@if map-get($bootilities-configuration, "compatibility-level") <= 0 {
  $utilities: map-merge(
      (
        "margin": null,
        "margin-x": null,
        "margin-y": null,
        "margin-top": null,
        "margin-end": null,
        "margin-bottom": null,
        "margin-start": null,
        "negative-margin": null,
        "negative-margin-x": null,
        "negative-margin-y": null,
        "negative-margin-top": null,
        "negative-margin-end": null,
        "negative-margin-bottom": null,
        "negative-margin-start": null,
        "padding": null,
        "padding-x": null,
        "padding-y": null,
        "padding-top": null,
        "padding-end": null,
        "padding-bottom": null,
        "padding-start": null,
        "flex": null,
        "flex-direction": null,
        "flex-grow": null,
        "flex-shrink": null,
        "flex-wrap": null,
        "justify-content": null,
        "align-items": null,
        "align-content": null,
        "align-self": null,
        "display": null,
        "position": null,
        "align": null,
        "float": null,
        "overflow": null,
        "top": null,
        "bottom": null,
        "start": null,
        "end": null
      ),
      $utilities
    );
}