// Removes/ resets Bootstrap default utilities:
// The criteria is to gradually remove utilities that are more disruptive to the layout structure.
// First we remove "decorative styles" and then move to utilities that change the layout structure more agressively.

$utilities: () !default;

// Compatibility levels:
// Specify how much of utilities from Bootstrap we should keep
$compatibility-level-3-resets: (
  "gradient": null,
  "color": null,
  "background-color": null,
  "pointer-events": null,
  "user-select": null,
  "translate-middle": null,
  "shadow": null
);

$compatibility-level-2-resets: (
  "rounded": null,
  "rounded-top": null,
  "rounded-end": null,
  "rounded-bottom": null,
  "rounded-start": null,
  "visibility": null,
  "border": null,
  "border-top": null,
  "border-end": null,
  "border-bottom": null,
  "border-start": null,
  "border-color": null,
  "border-width": null
);

$compatibility-level-1-resets: (
  "width": null,
  "max-width": null,
  "viewport-width": null,
  "min-viewport-width": null,
  "height": null,
  "max-height": null,
  "viewport-height": null,
  "min-viewport-height": null,
  "gap": null,
  "order": null,
  "font-family": null,
  "font-size": null,
  "font-style": null,
  "font-weight": null,
  "line-height": null,
  "text-align": null,
  "text-decoration": null,
  "text-transform": null,
  "white-space": null,
  "word-wrap": null
);

$compatibility-level-0-resets: (
  "margin": null,
  "margin-x": null,
  "margin-y": null,
  "margin-top": null,
  "margin-end": null,
  "margin-bottom": null,
  "margin-start": null,
  "negative-margin": null,
  "negative-margin-x": null,
  "negative-margin-y": null,
  "negative-margin-top": null,
  "negative-margin-end": null,
  "negative-margin-bottom": null,
  "negative-margin-start": null,
  "padding": null,
  "padding-x": null,
  "padding-y": null,
  "padding-top": null,
  "padding-end": null,
  "padding-bottom": null,
  "padding-start": null,
  "flex": null,
  "flex-direction": null,
  "flex-grow": null,
  "flex-shrink": null,
  "flex-wrap": null,
  "justify-content": null,
  "align-items": null,
  "align-content": null,
  "align-self": null,
  "display": null,
  "position": null,
  "align": null,
  "float": null,
  "overflow": null,
  "top": null,
  "bottom": null,
  "start": null,
  "end": null
);

$utilities: merge-compatible-resets($utilities, $compatibility-level-3-resets, 3);
$utilities: merge-compatible-resets($utilities, $compatibility-level-2-resets, 2);
$utilities: merge-compatible-resets($utilities, $compatibility-level-1-resets, 1);
$utilities: merge-compatible-resets($utilities, $compatibility-level-0-resets, 0);