$utilities: (
  "border-style": (
    responsive: false,
    property: border-style,
    class: border,
    values: (
      solid,
      dashed,
      dotted,
      double,
      none,
    ),
  ),
);
