$utilities: map-merge($utilities, (
    "border-width": (
      responsive: true,
      property: border-width,
      class: "border",
      values: $border-spacers
    )
  )
);

$bootilities-border-width-variants: (
  "t": border-top-width,
  "r": border-right-width,
  "b": border-bottom-width,
  "l": border-left-width
);

@each $key, $value in $bootilities-border-width-variants {
  $utilities: map-merge($utilities, (
    "border-width-#{$key}": (
      responsive: true,
      property: $value,
      class: "border-#{$key}",
      values: $border-spacers
      )
    )
  );
}