@use "sass:map";
@use "../../variables/spacers";

$utilities: (
  "height": (
    responsive: false,
    property: height,
    class: h,
    values: map.merge(spacers.$size-spacers, spacers.$dimension-spacers),
  ),
);
