@use "sass:map";
@use "../../variables/spacers";

$utilities: (
  "margin": (
    responsive: true,
    property: margin,
    class: m,
    values: spacers.$size-spacers,
  ),
  "margin-x": (
    responsive: true,
    property: margin-right margin-left,
    class: mx,
    values: spacers.$size-spacers,
  ),
  "margin-y": (
    responsive: true,
    property: margin-top margin-bottom,
    class: my,
    values: spacers.$size-spacers,
  ),
  "margin-top": (
    responsive: true,
    property: margin-top,
    class: mt,
    values: spacers.$size-spacers,
  ),
  "margin-right": (
    responsive: true,
    property: margin-right,
    class: mr,
    values: spacers.$size-spacers,
  ),
  "margin-bottom": (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values: spacers.$size-spacers,
  ),
  "margin-left": (
    responsive: true,
    property: margin-left,
    class: ml,
    values: spacers.$size-spacers,
  ),
  // "negative-margin": (
  //   responsive: true,
  //   property: margin,
  //   class: m,
  //   values: spacers.$negative-size-spacers,
  // ),
  // "negative-margin-x": (
  //   responsive: true,
  //   property: margin-right margin-left,
  //   class: mx,
  //   values: spacers.$negative-size-spacers,
  // ),
  // "negative-margin-y": (
  //   responsive: true,
  //   property: margin-top margin-bottom,
  //   class: my,
  //   values: spacers.$negative-size-spacers,
  // ),
  // "negative-margin-top": (
  //   responsive: true,
  //   property: margin-top,
  //   class: mt,
  //   values: spacers.$negative-size-spacers,
  // ),
  // "negative-margin-right": (
  //   responsive: true,
  //   property: margin-right,
  //   class: mr,
  //   values: spacers.$negative-size-spacers,
  // ),
  // "negative-margin-bottom": (
  //   responsive: true,
  //   property: margin-bottom,
  //   class: mb,
  //   values: spacers.$negative-size-spacers,
  // ),
  // "negative-margin-left": (
  //   responsive: true,
  //   property: margin-left,
  //   class: ml,
  //   values: spacers.$negative-size-spacers,
  // ),
);
