$amber-50:  #FFFBEB !default;
$amber-100: #FEF3C7 !default;
$amber-200: #FDE68A !default;
$amber-300: #FCD34D !default;
$amber-400: #FBBF24 !default;
$amber-500: #F59E0B !default;
$amber-600: #D97706 !default;
$amber-700: #B45309 !default;
$amber-800: #92400E !default;
$amber-900: #78350F !default;

$ambers: (
  "amber-50":  $amber-50,
  "amber-100": $amber-100,
  "amber-200": $amber-200,
  "amber-300": $amber-300,
  "amber-400": $amber-400,
  "amber-500": $amber-500,
  "amber-600": $amber-600,
  "amber-700": $amber-700,
  "amber-800": $amber-800,
  "amber-900": $amber-900
);