$cyan-50: #ecfeff !default;
$cyan-100: #cffafe !default;
$cyan-200: #a5f3fc !default;
$cyan-300: #67e8f9 !default;
$cyan-400: #22d3ee !default;
$cyan-500: #06b6d4 !default;
$cyan-600: #0891b2 !default;
$cyan-700: #0e7490 !default;
$cyan-800: #155e75 !default;
$cyan-900: #164e63 !default;

$cyans: (
  "cyan-50": $cyan-50,
  "cyan-100": $cyan-100,
  "cyan-200": $cyan-200,
  "cyan-300": $cyan-300,
  "cyan-400": $cyan-400,
  "cyan-500": $cyan-500,
  "cyan-600": $cyan-600,
  "cyan-700": $cyan-700,
  "cyan-800": $cyan-800,
  "cyan-900": $cyan-900,
);
