$emerald-50: #ecfdf5 !default;
$emerald-100: #d1fae5 !default;
$emerald-200: #a7f3d0 !default;
$emerald-300: #6ee7b7 !default;
$emerald-400: #34d399 !default;
$emerald-500: #10b981 !default;
$emerald-600: #059669 !default;
$emerald-700: #047857 !default;
$emerald-800: #065f46 !default;
$emerald-900: #064e3b !default;

$emeralds: (
  "emerald-50": $emerald-50,
  "emerald-100": $emerald-100,
  "emerald-200": $emerald-200,
  "emerald-300": $emerald-300,
  "emerald-400": $emerald-400,
  "emerald-500": $emerald-500,
  "emerald-600": $emerald-600,
  "emerald-700": $emerald-700,
  "emerald-800": $emerald-800,
  "emerald-900": $emerald-900,
);
