$fuschsia-50: #fdf4ff !default;
$fuschsia-100: #fae8ff !default;
$fuschsia-200: #f5d0fe !default;
$fuschsia-300: #f0abfc !default;
$fuschsia-400: #e879f9 !default;
$fuschsia-500: #d946ef !default;
$fuschsia-600: #c026d3 !default;
$fuschsia-700: #a21caf !default;
$fuschsia-800: #86198f !default;
$fuschsia-900: #701a75 !default;

$fuschsias: (
  "fuschsia-50": $fuschsia-50,
  "fuschsia-100": $fuschsia-100,
  "fuschsia-200": $fuschsia-200,
  "fuschsia-300": $fuschsia-300,
  "fuschsia-400": $fuschsia-400,
  "fuschsia-500": $fuschsia-500,
  "fuschsia-600": $fuschsia-600,
  "fuschsia-700": $fuschsia-700,
  "fuschsia-800": $fuschsia-800,
  "fuschsia-900": $fuschsia-900,
);
