$light-blue-50: #f0f9ff !default;
$light-blue-100: #e0f2fe !default;
$light-blue-200: #bae6fd !default;
$light-blue-300: #7dd3fc !default;
$light-blue-400: #38bdf8 !default;
$light-blue-500: #0ea5e9 !default;
$light-blue-600: #0284c7 !default;
$light-blue-700: #0369a1 !default;
$light-blue-800: #075985 !default;
$light-blue-900: #0c4a6e !default;

$light-blues: (
  "light-blue-50": $light-blue-50,
  "light-blue-100": $light-blue-100,
  "light-blue-200": $light-blue-200,
  "light-blue-300": $light-blue-300,
  "light-blue-400": $light-blue-400,
  "light-blue-500": $light-blue-500,
  "light-blue-600": $light-blue-600,
  "light-blue-700": $light-blue-700,
  "light-blue-800": $light-blue-800,
  "light-blue-900": $light-blue-900,
);
