$lime-50: #f7fee7 !default;
$lime-100: #ecfccb !default;
$lime-200: #d9f99d !default;
$lime-300: #bef264 !default;
$lime-400: #a3e635 !default;
$lime-500: #84cc16 !default;
$lime-600: #65a30d !default;
$lime-700: #4d7c0f !default;
$lime-800: #3f6212 !default;
$lime-900: #365314 !default;

$limes: (
  "lime-50": $lime-50,
  "lime-100": $lime-100,
  "lime-200": $lime-200,
  "lime-300": $lime-300,
  "lime-400": $lime-400,
  "lime-500": $lime-500,
  "lime-600": $lime-600,
  "lime-700": $lime-700,
  "lime-800": $lime-800,
  "lime-900": $lime-900,
);
