$rose-50: #fff1f2 !default;
$rose-100: #ffe4e6 !default;
$rose-200: #fecdd3 !default;
$rose-300: #fda4af !default;
$rose-400: #fb7185 !default;
$rose-500: #f43f5e !default;
$rose-600: #e11d48 !default;
$rose-700: #be123c !default;
$rose-800: #9f1239 !default;
$rose-900: #881337 !default;

$roses: (
  "rose-50": $rose-50,
  "rose-100": $rose-100,
  "rose-200": $rose-200,
  "rose-300": $rose-300,
  "rose-400": $rose-400,
  "rose-500": $rose-500,
  "rose-600": $rose-600,
  "rose-700": $rose-700,
  "rose-800": $rose-800,
  "rose-900": $rose-900,
);
