$teal-50: #f0fdfa !default;
$teal-100: #ccfbf1 !default;
$teal-200: #99f6e4 !default;
$teal-300: #5eead4 !default;
$teal-400: #2dd4bf !default;
$teal-500: #14b8a6 !default;
$teal-600: #0d9488 !default;
$teal-700: #0f766e !default;
$teal-800: #115e59 !default;
$teal-900: #134e4a !default;

$teals: (
  "teal-50": $teal-50,
  "teal-100": $teal-100,
  "teal-200": $teal-200,
  "teal-300": $teal-300,
  "teal-400": $teal-400,
  "teal-500": $teal-500,
  "teal-600": $teal-600,
  "teal-700": $teal-700,
  "teal-800": $teal-800,
  "teal-900": $teal-900,
);
