$violet-50: #f5f3ff !default;
$violet-100: #ede9fe !default;
$violet-200: #ddd6fe !default;
$violet-300: #c4b5fd !default;
$violet-400: #a78bfa !default;
$violet-500: #8b5cf6 !default;
$violet-600: #7c3aed !default;
$violet-700: #6d28d9 !default;
$violet-800: #5b21b6 !default;
$violet-900: #4c1d95 !default;

$violets: (
  "violet-50": $violet-50,
  "violet-100": $violet-100,
  "violet-200": $violet-200,
  "violet-300": $violet-300,
  "violet-400": $violet-400,
  "violet-500": $violet-500,
  "violet-600": $violet-600,
  "violet-700": $violet-700,
  "violet-800": $violet-800,
  "violet-900": $violet-900,
);
