$utilities: (
  "text-decoration": (
    responsive: true,
    property: text-decoration,
    class: text,
    values: (
      "underline": underline,
      "line-through": line-through,
      "no-underline": none,
    ),
  ),
);
