$blue-gray-50:  #F8FAFC !default;
$blue-gray-100: #F1F5F9 !default;
$blue-gray-200: #E2E8F0 !default;
$blue-gray-300: #CBD5E1 !default;
$blue-gray-400: #94A3B8 !default;
$blue-gray-500: #64748B !default;
$blue-gray-600: #475569 !default;
$blue-gray-700: #334155 !default;
$blue-gray-800: #1E293B !default;
$blue-gray-900: #0F172A !default;

$blue-grays: () !default;

$blue-grays: map-merge(
  (
    "blue-gray-50":  $blue-gray-50,
    "blue-gray-100": $blue-gray-100,
    "blue-gray-200": $blue-gray-200,
    "blue-gray-300": $blue-gray-300,
    "blue-gray-400": $blue-gray-400,
    "blue-gray-500": $blue-gray-500,
    "blue-gray-600": $blue-gray-600,
    "blue-gray-700": $blue-gray-700,
    "blue-gray-800": $blue-gray-800,
    "blue-gray-900": $blue-gray-900
  ),
  $blue-grays
);