$blue-50:  #EFF6FF !default;
$blue-100: #DBEAFE !default;
$blue-200: #BFDBFE !default;
$blue-300: #93C5FD !default;
$blue-400: #60A5FA !default;
$blue-500: #3B82F6 !default;
$blue-600: #2563EB !default;
$blue-700: #1D4ED8 !default;
$blue-800: #1E40AF !default;
$blue-900: #1E3A8A !default;

$blues: () !default;

$blues: map-merge(
  (
    "blue-50":  $blue-50,
    "blue-100": $blue-100,
    "blue-200": $blue-200,
    "blue-300": $blue-300,
    "blue-400": $blue-400,
    "blue-500": $blue-500,
    "blue-600": $blue-600,
    "blue-700": $blue-700,
    "blue-800": $blue-800,
    "blue-900": $blue-900
  ),
  $blues
);