$cool-gray-50:  #F9FAFB !default;
$cool-gray-100: #F3F4F6 !default;
$cool-gray-200: #E5E7EB !default;
$cool-gray-300: #D1D5DB !default;
$cool-gray-400: #9CA3AF !default;
$cool-gray-500: #6B7280 !default;
$cool-gray-600: #4B5563 !default;
$cool-gray-700: #374151 !default;
$cool-gray-800: #1F2937 !default;
$cool-gray-900: #111827 !default;

$cool-grays: () !default;

$cool-grays: map-merge(
  (
    "cool-gray-50":  $cool-gray-50,
    "cool-gray-100": $cool-gray-100,
    "cool-gray-200": $cool-gray-200,
    "cool-gray-300": $cool-gray-300,
    "cool-gray-400": $cool-gray-400,
    "cool-gray-500": $cool-gray-500,
    "cool-gray-600": $cool-gray-600,
    "cool-gray-700": $cool-gray-700,
    "cool-gray-800": $cool-gray-800,
    "cool-gray-900": $cool-gray-900
  ),
  $cool-grays
);