$cyan-50:  #ECFEFF !default;
$cyan-100: #CFFAFE !default;
$cyan-200: #A5F3FC !default;
$cyan-300: #67E8F9 !default;
$cyan-400: #22D3EE !default;
$cyan-500: #06B6D4 !default;
$cyan-600: #0891B2 !default;
$cyan-700: #0E7490 !default;
$cyan-800: #155E75 !default;
$cyan-900: #164E63 !default;

$cyans: () !default;

$cyans: map-merge(
  (
    "cyan-50":  $cyan-50,
    "cyan-100": $cyan-100,
    "cyan-200": $cyan-200,
    "cyan-300": $cyan-300,
    "cyan-400": $cyan-400,
    "cyan-500": $cyan-500,
    "cyan-600": $cyan-600,
    "cyan-700": $cyan-700,
    "cyan-800": $cyan-800,
    "cyan-900": $cyan-900
  ),
  $cyans
);