$fuschsia-50:  #FDF4FF !default;
$fuschsia-100: #FAE8FF !default;
$fuschsia-200: #F5D0FE !default;
$fuschsia-300: #F0ABFC !default;
$fuschsia-400: #E879F9 !default;
$fuschsia-500: #D946EF !default;
$fuschsia-600: #C026D3 !default;
$fuschsia-700: #A21CAF !default;
$fuschsia-800: #86198F !default;
$fuschsia-900: #701A75 !default;

$fuschsias: () !default;

$fuschsias: map-merge(
  (
    "fuschsia-50":  $fuschsia-50,
    "fuschsia-100": $fuschsia-100,
    "fuschsia-200": $fuschsia-200,
    "fuschsia-300": $fuschsia-300,
    "fuschsia-400": $fuschsia-400,
    "fuschsia-500": $fuschsia-500,
    "fuschsia-600": $fuschsia-600,
    "fuschsia-700": $fuschsia-700,
    "fuschsia-800": $fuschsia-800,
    "fuschsia-900": $fuschsia-900
  ),
  $fuschsias
);