$green-50:  #ECFDF5 !default;
$green-100: #D1FAE5 !default;
$green-200: #A7F3D0 !default;
$green-300: #6EE7B7 !default;
$green-400: #34D399 !default;
$green-500: #10B981 !default;
$green-600: #059669 !default;
$green-700: #047857 !default;
$green-800: #065F46 !default;
$green-900: #064E3B !default;

$greens: () !default;

$greens: map-merge(
  (
    "green-50":  $green-50,
    "green-100": $green-100,
    "green-200": $green-200,
    "green-300": $green-300,
    "green-400": $green-400,
    "green-500": $green-500,
    "green-600": $green-600,
    "green-700": $green-700,
    "green-800": $green-800,
    "green-900": $green-900
  ),
  $greens
);