$lime-50:  #F7FEE7 !default;
$lime-100: #ECFCCB !default;
$lime-200: #D9F99D !default;
$lime-300: #BEF264 !default;
$lime-400: #A3E635 !default;
$lime-500: #84CC16 !default;
$lime-600: #65A30D !default;
$lime-700: #4D7C0F !default;
$lime-800: #3F6212 !default;
$lime-900: #365314 !default;

$limes: () !default;

$limes: map-merge(
  (
    "lime-50":  $lime-50,
    "lime-100": $lime-100,
    "lime-200": $lime-200,
    "lime-300": $lime-300,
    "lime-400": $lime-400,
    "lime-500": $lime-500,
    "lime-600": $lime-600,
    "lime-700": $lime-700,
    "lime-800": $lime-800,
    "lime-900": $lime-900,
  ),
  $limes
);