$pink-50:  #FDF2F8 !default;
$pink-100: #FCE7F3 !default;
$pink-200: #FBCFE8 !default;
$pink-300: #F9A8D4 !default;
$pink-400: #F472B6 !default;
$pink-500: #EC4899 !default;
$pink-600: #DB2777 !default;
$pink-700: #BE185D !default;
$pink-800: #9D174D !default;
$pink-900: #831843 !default;

$pinks: () !default;

$pinks: map-merge(
  (
    "pink-50":  $pink-50,
    "pink-100": $pink-100,
    "pink-200": $pink-200,
    "pink-300": $pink-300,
    "pink-400": $pink-400,
    "pink-500": $pink-500,
    "pink-600": $pink-600,
    "pink-700": $pink-700,
    "pink-800": $pink-800,
    "pink-900": $pink-900
  ),
  $pinks
);