$warm-gray-50:  #FAFAF9 !default;
$warm-gray-100: #F5F5F4 !default;
$warm-gray-200: #E7E5E4 !default;
$warm-gray-300: #D6D3D1 !default;
$warm-gray-400: #A8A29E !default;
$warm-gray-500: #78716C !default;
$warm-gray-600: #57534E !default;
$warm-gray-700: #44403C !default;
$warm-gray-800: #292524 !default;
$warm-gray-900: #1C1917 !default;

$warm-grays: () !default;

$warm-grays: map-merge(
  (
    "warm-gray-50":  $warm-gray-50,
    "warm-gray-100": $warm-gray-100,
    "warm-gray-200": $warm-gray-200,
    "warm-gray-300": $warm-gray-300,
    "warm-gray-400": $warm-gray-400,
    "warm-gray-500": $warm-gray-500,
    "warm-gray-600": $warm-gray-600,
    "warm-gray-700": $warm-gray-700,
    "warm-gray-800": $warm-gray-800,
    "warm-gray-900": $warm-gray-900
  ),
  $warm-grays
);