$yellow-50:  #FFFBEB !default;
$yellow-100: #FEF3C7 !default;
$yellow-200: #FDE68A !default;
$yellow-300: #FCD34D !default;
$yellow-400: #FBBF24 !default;
$yellow-500: #F59E0B !default;
$yellow-600: #D97706 !default;
$yellow-700: #B45309 !default;
$yellow-800: #92400E !default;
$yellow-900: #78350F !default;

$yellows: () !default;

$yellows: map-merge(
  (
    "yellow-50":  $yellow-50,
    "yellow-100": $yellow-100,
    "yellow-200": $yellow-200,
    "yellow-300": $yellow-300,
    "yellow-400": $yellow-400,
    "yellow-500": $yellow-500,
    "yellow-600": $yellow-600,
    "yellow-700": $yellow-700,
    "yellow-800": $yellow-800,
    "yellow-900": $yellow-900
  ),
  $yellows
);