$green-50: #ecfdf5 !default;
$green-100: #d1fae5 !default;
$green-200: #a7f3d0 !default;
$green-300: #6ee7b7 !default;
$green-400: #34d399 !default;
$green-500: #10b981 !default;
$green-600: #059669 !default;
$green-700: #047857 !default;
$green-800: #065f46 !default;
$green-900: #064e3b !default;

$greens: (
  "green-50": $green-50,
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800,
  "green-900": $green-900,
);
