$indigo-50: #eef2ff !default;
$indigo-100: #e0e7ff !default;
$indigo-200: #c7d2fe !default;
$indigo-300: #a5b4fc !default;
$indigo-400: #818cf8 !default;
$indigo-500: #6366f1 !default;
$indigo-600: #4f46e5 !default;
$indigo-700: #4338ca !default;
$indigo-800: #3730a3 !default;
$indigo-900: #312e81 !default;

$indigos: (
  "indigo-50": $indigo-50,
  "indigo-100": $indigo-100,
  "indigo-200": $indigo-200,
  "indigo-300": $indigo-300,
  "indigo-400": $indigo-400,
  "indigo-500": $indigo-500,
  "indigo-600": $indigo-600,
  "indigo-700": $indigo-700,
  "indigo-800": $indigo-800,
  "indigo-900": $indigo-900,
);
