$purple-50: #f5f3ff !default;
$purple-100: #ede9fe !default;
$purple-200: #ddd6fe !default;
$purple-300: #c4b5fd !default;
$purple-400: #a78bfa !default;
$purple-500: #8b5cf6 !default;
$purple-600: #7c3aed !default;
$purple-700: #6d28d9 !default;
$purple-800: #5b21b6 !default;
$purple-900: #4c1d95 !default;

$purples: (
  "purple-50": $purple-50,
  "purple-100": $purple-100,
  "purple-200": $purple-200,
  "purple-300": $purple-300,
  "purple-400": $purple-400,
  "purple-500": $purple-500,
  "purple-600": $purple-600,
  "purple-700": $purple-700,
  "purple-800": $purple-800,
  "purple-900": $purple-900,
);
