$yellow-50: #fffbeb !default;
$yellow-100: #fef3c7 !default;
$yellow-200: #fde68a !default;
$yellow-300: #fcd34d !default;
$yellow-400: #fbbf24 !default;
$yellow-500: #f59e0b !default;
$yellow-600: #d97706 !default;
$yellow-700: #b45309 !default;
$yellow-800: #92400e !default;
$yellow-900: #78350f !default;

$yellows: (
  "yellow-50": $yellow-50,
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900,
);
